{% extends 'navbar.html' %}
    {% load static %}
    {% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endblock css %}

    {% block title %}
    <title>Home</title>
    {% endblock title %}
<body>

    {% block content %}
    <h1>Home page</h1>
    <div class="content"  >
    <form method="post">
        {% csrf_token %}
    <div class="row">
    <div class="col-7">
    <div class="mb-3">
        <label for="exampleInputName" class="form-label">Student Name</label>
        <input type="text" class="form-control" id="exampleInputName" name="studentname">
    </div>

    <div class="mb-3">
        <label for="exampleInputAge" class="form-label">Student Age</label>
        <input type="text" class="form-control" id="exampleInputAge" name="studentage">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="studentemail">
    </div>

    <div class="mb-3">
        <label for="exampleInputTrack_Name" class="form-label">Track Name</label>
        <input type="text" class="form-control" id="exampleInputTrack_Name" name="trackname">
    </div>
        <div><p style="color:green">{{doneMsg}}</p></div>
    </div>
    <div class="col-5">
    <button type="submit" class="btn btn-secondary" >Insert Student</button>
    <a type="button" class="btn btn-success" href="{%url 'list'%}">Update Student</a>
    <a type="button" class="btn btn-danger" href="{%url 'list'%}">Delete Student</a>
    <a type="button" class="btn btn-warning" href="{%url 'list'%}">Select Student</a>
    <a type="button" class="btn btn-info" href="/list">Search by Student name</a>
    </div>
    </div>
    </form>
    </div>

    {% endblock content %}
</body>
