{% extends 'navbar.html' %}
{% load static %}
{% block css %}
      <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock css %}

{% block title %}
      <title>Signup</title>
{% endblock title %}

<body>
{% block content %}
<h1>Signup page</h1>
<form method="post">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputName" name="myusername">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="userEmail">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="userPass">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% endblock content %}
</body>
</html>